* {
  margin: 0px;
  padding: 0px;
}

.freezeContainer {
  height: 100%;
  position: fixed;
  width: 100%;
  background-color: #2d2d2d;
}

.buttonContainer {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 15px;
  margin: 12%;
}

.button {
  background-color: #444;
  color: white;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.button:disabled {
  background-color: #444;
  color: gray;
  border-radius: 5px;
  border-color: red;
  padding: 20px;
  font-size: 150%;
}
