* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 40px;
  background-color: #2d2d2d;
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
}

.button {
  background-color: #444;
  color: white;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.button:disabled {
  background-color: #444;
  color: gray;
  border-radius: 5px;
  border-color: red;
  padding: 20px;
  font-size: 150%;
}
